# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Concordia University\2021 Winter\COMP-361-Elemetary Numerical Methods\Assignments\python_comp_361_ass_1_serge_dontsa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
